[submodule "First Year/2 Second Semester/Data Engineering/Books/Foundations_Data_Science"]
	path = First Year/2 Second Semester/Data Engineering/Books/Foundations_Data_Science
	url = https://github.com/data-8/textbook
